<div ng-controller="LoginController as login">
		<input type="text" ng-model="username" id="username" /> equals {{login.username}} <br />
		<input type="password" ng-model="password" id="password" /> equals {{login.password}} <br /><br />
		<button type="button" class="btn btn-primary" id="button" ng-click="login.send(username, password)">SEND</button>
</div>