<div ng-controller="RegisterController as register">
		<input type="text" ng-model="username" id="username" /> equals {{register.username}} <br />
		<input type="password" ng-model="password" id="password" /> equals {{register.password}} <br /><br />
		<button type="button" class="btn btn-primary" id="button" ng-click="register.send(username, password)">SEND</button><br /><br />

		<div ng-class="register.active == 0?'plavo':'crveno'">
			Class
		</div><br />

		<button ng-click="(register.active == 1)?register.active = 0:register.active = 1">Promijeni boju</button>
</div>
