<!DOCTYPE html>
<html>
<head>
	<title>Angular</title>

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">

	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/app.js"></script>
	<script type="text/javascript" src="./js/main.js"></script>
	<script type="text/javascript" src="./js/register.js"></script>
	<script type="text/javascript" src="./js/login.js"></script>
	<script type="text/javascript" src="./js/list.js"></script>
</head>
<body ng-app="projekt" ng-cloak>



	<div ng-controller="MainController as main">
		<a ng-click="main.toggleView('register.html')">Register</a>
		<a ng-click="main.toggleView('login.html')">Login</a>
		<a ng-click="main.toggleView('list.html')">List</a>
		{{main.presentedView}}
		<div ng-include="main.presentedView"></div>
	</div>


</body>
</html>